/*.dll
/*.*md
/*.exe
/fonts/*
/images/*
/sounds/*
/translations/*
!mod.md
/data/ai
/data/campaigns
/data/gui
/data/hardwired
/data/languages
/data/lua
/data/multiplayer
/data/shaders
/data/test
/data/themes
/data/tools
/data/*.cfg
/data/*.txt
/data/dist
/data/core/*
!/data/core/macros
!/data/core/units
